.side-logo
  a.side-logo-link(href=url_for())
    != config.title.toUpperCase()

.side-nav
  include nav

input.side-search(type="text", placeholder="Type and hit enter...")

.side-author-info
  span.side-author-avatar
    img(src=theme.logo)
  .side-author-content
    h2.side-author-name
    .side-author-info
      != theme.aboutme
    ul.side-social
      each value, key in theme.social
        li.side-social-item
          - var re = /^(http|https):\/\/*/gi;
          - var tar = re.test(value) ? "_blank" : "_self"
          a.side-social-link(href=value target=tar)
            i(class='fa fa-#{key}')