.ui.vertical.inverted.menu
  .h100

  h3.ui.inverted.aligned.icon.header
    .content
      a.title-link(href=url_for())
        != config.title.toUpperCase()

  .h50

  .side-nav
    include nav

  .item
    .ui.inverted.transparent.icon.input
      input(type="text" class="st-default-search-input" placeholder="Search...")
      i.search.icon

  .h50

.h50.mq
  a.ui.teal.big.label
    i.content.icon

.author-info
  a.img-link(href=url_for())
    img.author-photo.ui.tiny.circular.image(src=theme.avatar)

  h4.ui.aligned.icon.header
    .content
      !=config.author

  p.author-desc
    != theme.aboutme

  .social-outer
    .social-inner
      each value, key in theme.social
        - var re = /^(http|https):\/\/*/gi;
        - var tar = re.test(value) ? "_blank" : "_self"
        a.social-link(href=value target=tar)
          i(class='icon #{key}')